layout {
    # Theme: Catppuccin Latte - red
    background-color "#eff1f5"

    focus-ring {
        active-color "#d20f39"
        inactive-color "#ccd0da"
        urgent-color "#d20f39"
    }

    border {
        active-color "#d20f39"
        inactive-color "#ccd0da"
        urgent-color "#d20f39"
    }

    shadow {
        color "#dce0e84d"
        inactive-color "#eff1f54d"
    }

    tab-indicator {
        active-color "#d20f39"
        inactive-color "#ccd0da"
        urgent-color "#d20f39"
    }

    insert-hint {
        color "#fe640b"
    }
}

recent-windows {
    highlight {
        active-color "#d20f39"
        urgent-color "#d20f39"
    }
}

overview {
    backdrop-color "#e6e9ef"
    workspace-shadow {
        color "#dce0e84d"
        inactive-color "#eff1f54d"
    }
}
