layout {
    # Theme: Catppuccin Frappé - yellow
    background-color "#303446"

    focus-ring {
        active-color "#e5c890"
        inactive-color "#414559"
        urgent-color "#e78284"
    }

    border {
        active-color "#e5c890"
        inactive-color "#414559"
        urgent-color "#e78284"
    }

    shadow {
        color "#2326344d"
        inactive-color "#3034464d"
    }

    tab-indicator {
        active-color "#e5c890"
        inactive-color "#414559"
        urgent-color "#e78284"
    }

    insert-hint {
        color "#ef9f76"
    }
}

recent-windows {
    highlight {
        active-color "#e5c890"
        urgent-color "#e78284"
    }
}

overview {
    backdrop-color "#292c3c"
    workspace-shadow {
        color "#2326344d"
        inactive-color "#3034464d"
    }
}
