layout {
    # Theme: Catppuccin Macchiato - sky
    background-color "#24273a"

    focus-ring {
        active-color "#91d7e3"
        inactive-color "#363a4f"
        urgent-color "#ed8796"
    }

    border {
        active-color "#91d7e3"
        inactive-color "#363a4f"
        urgent-color "#ed8796"
    }

    shadow {
        color "#1819264d"
        inactive-color "#24273a4d"
    }

    tab-indicator {
        active-color "#91d7e3"
        inactive-color "#363a4f"
        urgent-color "#ed8796"
    }

    insert-hint {
        color "#f5a97f"
    }
}

recent-windows {
    highlight {
        active-color "#91d7e3"
        urgent-color "#ed8796"
    }
}

overview {
    backdrop-color "#1e2030"
    workspace-shadow {
        color "#1819264d"
        inactive-color "#24273a4d"
    }
}
