layout {
    # Theme: Catppuccin Macchiato - rosewater
    gaps 16
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "tabbed"
    background-color "#24273a"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
        // width 4
        // active-color "#c6a0f6"
        // inactive-color "#b7bdf8"
        // urgent-color "#ed8796"
        // active-gradient from="#c6a0f6" to="#f4dbd6" angle=45
        // inactive-gradient from="#b7bdf8" to="#5b6078" angle=45 relative-to="workspace-view"
        // urgent-gradient from="#eed49f" to="#f5a97f" angle=45
    }

    border {
        on
        width 2
        active-color "#c6a0f6"
        inactive-color "#b7bdf8"
        urgent-color "#ed8796"
        active-gradient from="#c6a0f6" to="#f4dbd6" angle=45
        inactive-gradient from="#b7bdf8" to="#5b6078" angle=45 relative-to="workspace-view"
        urgent-gradient from="#eed49f" to="#f5a97f" angle=45
    }

    shadow {
        off
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#1819264d"
        inactive-color "#24273a4d"
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 5
        width 4
        length total-proportion=1.0
        position "right"
        gaps-between-tabs 2
        corner-radius 8
        active-color "#c6a0f6"
        inactive-color "#b7bdf8"
        urgent-color "#ed8796"
        active-gradient from="#c6a0f6" to="#f4dbd6" angle=45
        inactive-gradient from="#b7bdf8" to="#5b6078" angle=45 relative-to="workspace-view"
        urgent-gradient from="#eed49f" to="#f5a97f" angle=45
    }

    insert-hint {
        on
        color "#f5a97f"
        gradient from="#f5a97f" to="#f4dbd6" angle=45 relative-to="workspace-view"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
