---
whiskers:
  version: ^2.5.1
  matrix:
    - flavor
    - accent
  filename: themes/{{ flavor.identifier }}/catppuccin-{{ flavor.identifier }}-{{ accent }}.kdl
  hex_format: "#{{r}}{{g}}{{b}}"
---
layout {
    # Theme: Catppuccin {{ flavor.name }} - {{ accent }}
    background-color "{{ base.hex }}"

    focus-ring {
        inactive-color "{{ lavender.hex }}"
        active-color "{{ flavor.colors[accent].hex }}"
        urgent-color "{{ red.hex }}"
    }

    border {
        inactive-color "{{ lavender.hex }}"
        active-color "{{ flavor.colors[accent].hex }}"
        urgent-color "{{ red.hex }}"
    }

    shadow {
        color "{{ crust.hex }}4d"
        inactive-color "{{ base.hex }}4d"
    }

    tab-indicator {
        inactive-color "{{ lavender.hex }}"
        active-color "{{ flavor.colors[accent].hex }}"
        urgent-color "{{ red.hex }}"
    }

    insert-hint {
        color "{{ peach.hex }}"
    }
}

recent-windows {
    highlight {
        active-color "{{ flavor.colors[accent].hex }}"
        urgent-color "{{ red.hex }}"
    }
}

overview {
    backdrop-color "{{ mantle.hex }}"
    workspace-shadow {
        color "{{ crust.hex }}4d"
        inactive-color "{{ base.hex }}4d"
    }
}
