layout {
    # Theme: Catppuccin Mocha - peach
    background-color "#1e1e2e"

    focus-ring {
        active-color "#fab387"
        inactive-color "#313244"
        urgent-color "#f38ba8"
    }

    border {
        active-color "#fab387"
        inactive-color "#313244"
        urgent-color "#f38ba8"
    }

    shadow {
        color "#11111b4d"
        inactive-color "#1e1e2e4d"
    }

    tab-indicator {
        active-color "#fab387"
        inactive-color "#313244"
        urgent-color "#f38ba8"
    }

    insert-hint {
        color "#fab387"
    }
}

recent-windows {
    highlight {
        active-color "#fab387"
        urgent-color "#f38ba8"
    }
}

overview {
    backdrop-color "#181825"
    workspace-shadow {
        color "#11111b4d"
        inactive-color "#1e1e2e4d"
    }
}
